<section id="description" class="description-page">
    <div class="description-page__image"> 
    </div>
    <div class="description-page__text" >
        <h2> The leader in <br/>interactive vr</h2>
        <p>Founded in 2011, Loopstudios has been producing world-class virtual reality project for some of the best companies around the globe. Our award-winnig creations have transformed businesses through digital experiences that bind to their brand.<p>
    </div>
</section>