<section class="section-creation">
    <h2>Our Creations</h2>
    <div class="section-creation__content">
        <div class="section-container section-container section-creation__content--deep-earth">
            <span></span>
            <p>deep <br> earth</p>
        </div>
        <div class="section-container section-creation__content--night-arcade">
            <span></span>
            <p>night <br> arcade</p>
        </div>
        <div class="section-container section-creation__content--soccer-team">
            <span></span>
            <p>soccer <br> team vr</p>
        </div>
        <div class="section-container section-creation__content--grid">
            <span></span>
            <p>the <br> grid</p>
        </div>
        <div class="section-container section-creation__content--from-above">
            <span></span>
            <p>from up <br> above vr</p>
        </div>
        <div class="section-container section-creation__content--pocket-borealis">
            <span></span>
            <p>pocket <br> borealis</p>
        </div>
        <div class="section-container section-creation__content--curiosity">
            <span></span>
            <p>the <br> curiosity</p>
        </div>
        <div class="section-container section-creation__content--fisheye">
            <span></span>
            <p>make it <br> fisheye</p>
        </div>
    </div>
    <button class="section-creation--button button">see all</button>
</section>