:root {
  --main-text: "Josefin Sans", sans-serif;
  --secundary-text: "Alata", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  @media only screen and(min-width:768px) {
    width: 100%;
    max-width: 1200px;
  }
}
.button{
  display: block;
  margin: 0 auto;
  background: transparent;
  text-transform: uppercase;
  font-family: var(--secundary-text);
  padding: 5px 20px;
  border: 1px solid black;
  color: black;
  font-size: 17px;
  line-height: 2;
  width: 198px;
  letter-spacing: 6px;
  cursor: pointer;
}
